# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Marching Squares 2.0.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sobol\Desktop\Projects\Unity\Marching Squares 2.0\.idea\.idea.Marching Squares 2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
